/* Estilos base para las luces */
.rounded-circle {
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.bg-danger {
    background-color: red;
}

.bg-warning {
    background-color: yellow;
}

.bg-success {
    background-color: green;
}

/* Clase para el efecto de brillo */
.shine {
    /* Agrega estilos de brillo aquí, por ejemplo: */
    box-shadow: 0 0 20px rgb(255, 255, 255); /* Esto aplicará un efecto de sombra blanca */
}

/* Estilos 3D */
.rounded-circle:hover {
    transform: translateY(-5px); /* Levanta la luz ligeramente cuando se pasa el mouse */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Agrega una sombra para simular profundidad */
}
